# Exploratory Data Analysis

Geographic location of the bus stops in Ciudad Autonoma de Buenos Aires, with some extra administrative information like commune/comuna and the associated bus lines in each stop.

### Source
**Dataset:** paradas-de-colectivo.csv 

**Link:** [Buenos Aires Data - Paradas de Colectivo][bus_stops]

[bus_stops]: https://data.buenosaires.gob.ar/dataset/colectivos-paradas/resource/d0e599d2-3e78-4fb2-9255-30a2be0525f8

## Resource fields (as published on the dataset web)

Each row represents a bus stop location in CABA, with its address, coordinates, and up to 6 associated bus lines (plus direction).

| Name | Type | Description (EN translation) |
|---|---|---|
| CALLE | string | Street name where the address is located. |
| ALT_PLANO | string | Street number (it may represent the building/property numbering). |
| DIRECCION | string | Full address, including street and number. |
| coord_X | string | X coordinate (geographic longitude) of the address location. |
| coord_Y | string | Y coordinate (geographic latitude) of the address location. |
| COMUNA | string | Commune (comuna) number where the address is located. |
| BARRIO | string | Neighborhood (barrio) name the address belongs to. |
| L1 | string | Public transport line number that serves the location. |
| l1_sen | string | Direction of line L1 (e.g., `I` for outbound/ida or `V` for return/vuelta). |
| L2 | string | Second public transport line number serving the location (if applicable). |
| l2_sen | string | Direction of line L2. |
| L3 | string | Third public transport line number serving the location (if applicable). |
| l3_sen | string | Direction of line L3. |
| L4 | string | Fourth public transport line number serving the location (if applicable). |
| l4_sen | string | Direction of line L4. |
| L5 | string | Fifth public transport line number serving the location (if applicable). |
| l5_sen | string | Direction of line L5. |
| L6 | string | Sixth public transport line number serving the location (if applicable). |
| l6_sen | string | Direction of line L6. |

## Questions:

To complete:
* abc
* def
* ghi

## Setup

#### Imports

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Initial settings

In [145]:
%matplotlib inline

## Loading Data

In [146]:
from pathlib import Path

PROJECT_ROOT = Path.cwd().parent 
DATA_PATH = PROJECT_ROOT / "data" / "raw" / "paradas-de-colectivo.csv"

DATA_PATH.exists()

True

In [147]:
stops_raw = pd.read_csv(DATA_PATH)

# Make a copy in order to leave the original file intact
stops = stops_raw.copy()
stops[["DIRECCION", "coord_X", "coord_Y", "COMUNA", "BARRIO", "L1", "l1_sen", "L2"]]

,DIRECCION,coord_X,coord_Y,COMUNA,BARRIO,L1,l1_sen,L2
0,1524 DEFENSA,"-58,3709946","-34,62565880",1,SAN TELMO,22.0,V,53.0
1,1528 DEFENSA,"-58,3709994","-34,62571060",1,SAN TELMO,29.0,I,NaN
2,"906 MITRE, BARTOLOME","-58,3796587","-34,60721560",1,SAN NICOLAS,105.0,V,NaN
3,51 REGIMIENTO DE PATRICIOS AV.,"-58,3706639","-34,63022580",4,BARRACAS,93.0,I,70.0
4,389 REGIMIENTO DE PATRICIOS AV.,"-58,3703604","-34,63340970",4,BARRACAS,10.0,I,22.0
...,...,...,...,...,...,...,...,...
6957,1672 NAZCA AV.,"-58,479063","-34,61479700",11,VILLA SANTA RITA,63.0,I,133.0
6958,4185 BAIGORRIA,"-58,50318","-34,61053300",11,VILLA DEVOTO,109.0,V,NaN
6959,"PAZ, GRAL. AV. 11118","-58,528564","-34,64514700",9,LINIERS,4.0,I,185.0
6960,"PAZ, GRAL. AV. 11108","-58,528629","-34,64461600",9,LINIERS,8.0,V,86.0
6961,"PAZ, GRAL. AV. 11130","-58,528719","-34,64457700",9,LINIERS,21.0,I,28.0

## Preprocessing

### Columns

I will normalize the column names: lowercase + snake_case

In [148]:
stops.columns

Index(['fid', 'CALLE', 'ALT PLANO', 'DIRECCION', 'coord_X', 'coord_Y',
       'COMUNA', 'BARRIO', 'L1', 'l1_sen', 'L2', 'l2_sen', 'L3', 'l3_sen',
       'L4', 'l4_sen', 'L5', 'l5_sen', 'L6', 'l6_sen'],
      dtype='object')

In [149]:
stops.columns = (stops.columns
                 .str.strip()
                 .str.lower()
                 .str.replace(" ", "_")      
)
stops.columns

Index(['fid', 'calle', 'alt_plano', 'direccion', 'coord_x', 'coord_y',
       'comuna', 'barrio', 'l1', 'l1_sen', 'l2', 'l2_sen', 'l3', 'l3_sen',
       'l4', 'l4_sen', 'l5', 'l5_sen', 'l6', 'l6_sen'],
      dtype='object')

Let's check the general info of the Dataframe:

In [150]:
stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6962 entries, 0 to 6961
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fid        6962 non-null   int64
 1   calle      6962 non-null   object
 2   alt_plano  6910 non-null   object
 3   direccion  6959 non-null   object
 4   coord_x    6962 non-null   object
 5   coord_y    6962 non-null   object
 6   comuna     6962 non-null   int64
 7   barrio     6961 non-null   object
 8   l1         6959 non-null   float64
 9   l1_sen     6957 non-null   object
 10  l2         3813 non-null   float64
 11  l2_sen     3806 non-null   object
 12  l3         587 non-null    object
 13  l3_sen     586 non-null    object
 14  l4         98 non-null     float64
 15  l4_sen     94 non-null     object
 16  l5         19 non-null     float64
 17  l5_sen     19 non-null     object
 18  l6         8 non-null      float64
 19  l6_sen     8 non-null      object
dtypes: float64(5), int64(2), object(13)
memory usage: 1.1+ MB

### Coords to float type

I will start by converting the columns **coord_x** and **coord_y** to float type:

In [151]:
for col in ["coord_x", "coord_y"]:
    stops[col] = pd.to_numeric(stops[col].str.replace(",", "."), errors="coerce")

stops[["coord_x", "coord_y"]].dtypes

coord_x    float64
coord_y    float64
dtype: object

### String normalization

I will normalize the strings in the **calle**, **direccion** and **barrio** columns: **UPPERCASE**

In [152]:
columns_to_upper = ["calle", "direccion", "barrio"]

for col in columns_to_upper:
    stops[col] = (
        stops[col]
        .str.strip()
        .str.replace(r"\s+", " ", regex=True) # Replace multiple spaces 
        .str.upper()
    )

### **l1-l6** to integers

Now I will convert the columns **l1-l6** to int type (bus lines numbers are integers):

I have to be careful because we can see that the dtype of the column **l3** is object, so it is probable that there are some string values

In [153]:
for col in ["l1", "l2", "l3", "l4", "l5", "l6"]:
    stops[col] = pd.to_numeric(stops[col], errors="coerce").astype('Int64')

stops[["l1", "l2", "l3", "l4", "l5", "l6"]].dtypes

l1    Int64
l2    Int64
l3    Int64
l4    Int64
l5    Int64
l6    Int64
dtype: object

I will create a column **n_lines** as the number of non-null line fields (**l1-l6**) per stop

In [154]:
line_cols = ["l1", "l2", "l3", "l4", "l5", "l6"]
stops["n_lines"] = stops[line_cols].notna().sum(axis=1)
stops["n_lines"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6962 entries, 0 to 6961
Series name: n_lines
Non-Null Count  Dtype
--------------  -----
6962 non-null   int64
dtypes: int64(1)
memory usage: 54.5 KB

## Encoding/Text issue

While exploring the CSV, I noticed that some characters (e.g., `Ñ`, accented vowels) appear corrupted in the fields **calle**, **direccion**, and **barrio** (e.g., `NU�EZ` instead of `NUÑEZ`).

This � symbol is the Unicode *replacement character* (U+FFFD). There are also some values that have `?` instead of �.

In the next cells, I quantify how many rows are affected and list the most frequent corrupted values.

In [155]:
cols_to_check = ["calle", "direccion", "barrio"]
replacement_char = "\ufffd"

# Let's see how many rows are affected per column:
for col in cols_to_check:
    n_repl_char = stops[col].str.contains(replacement_char, na=False).sum()
    n_ques_char = stops[col].str.contains("?", na=False, regex=False).sum()
    print(f"{col}: {n_repl_char} rows contain '{replacement_char}'")
    print(f"{col}: {n_ques_char} rows contain '?'")

calle: 163 rows contain '�'
calle: 0 rows contain '?'
direccion: 116 rows contain '�'
direccion: 49 rows contain '?'
barrio: 74 rows contain '�'
barrio: 0 rows contain '?'

In [156]:
# Let's see what are the corrupted values per column and count them:
for col in cols_to_check:
    corrupted_vals = stops.loc[
        (stops[col].str.contains(replacement_char, na=False)) 
        |
        (stops[col].str.contains("?", na=False, regex=False)),
        col]
    print(f"The most corrupted values in {col} are:")
    display(corrupted_vals.value_counts().head())

The most corrupted values in calle are:

calle
CASTA�ARES AV.                    23
ALEJANDRO MARGARI�OS CERVANTES    21
RODRIGUEZ PE�A                    17
PRES. LUIS SAENZ PE�A             14
NU�EZ                             14
Name: count, dtype: int64

The most corrupted values in direccion are:

direccion
CALLE INTERNA, PABELL�N 1, C.U.    3
CALLE INTERNA, PABELL�N 3, C.U.    2
CALLE INTERNA, PABELL�N 2, C.U.    2
24 RODRIGUEZ PE�A                  1
240 RODRIGUEZ PE�A                 1
Name: count, dtype: int64

The most corrupted values in barrio are:

barrio
NU�EZ    74
Name: count, dtype: int64

I will do some name corrections, for a small number of clear typos, we map them to their real name based on publicly available information (e.g., widely used neighborhood lists for CABA and well-known street names), and we only apply the correction when it is strongly supported by internal consistency checks (e.g., the associated commune).

In [157]:
# Let's create a mapping for each corrupted word:
mapping = {
    "CASTA�ARES": "CASTAÑARES", "CASTA?ARES": "CASTAÑARES",
    "MARGARI�OS": "MAGARIÑOS", "MARGARI?OS": "MAGARIÑOS", "MAGARI�OS": "MAGARIÑOS", "MAGARI?OS":"MAGARIÑOS",
    "PE�A": "PEÑA", "PE?A": "PEÑA",
    "NU�EZ": "NUÑEZ", "NU?EZ": "NUÑEZ",
    "ALBARI�O": "ALBARIÑO", "ALBARI?O": "ALBARIÑO",
    "HUMBERTO 1�": "HUMBERTO 1°", "HUMBERTO 1?": "HUMBERTO 1°", 
    "ESPA�A": "ESPAÑA", "ESPA?A": "ESPAÑA",
    "CA�ADA": "CAÑADA", "CA?ADA": "CAÑADA",
    "ORO�O": "OROÑO", "ORO?O": "OROÑO",
    "MU�IZ": "MUÑIZ", "MU?IZ": "MUÑIZ",
    "CERVI�O": "CERVIÑO", "CERVI?O": "CERVIÑO",
    "MU�ECAS": "MUÑECAS", "MU?ECAS": "MUÑECAS",
    "O�BRIEN": "O'BRIEN", "O?BRIEN": "O'BRIEN",
    "A�ASCO": "AÑASCO", "A?ASCO": "AÑASCO",
    "VILLAFA�E": "VILLAFAÑE", "VILLAFA?E": "VILLAFAÑE",
    "PABELL�N": "PABELLON", "PABELL?N": "PABELLON",
    "OLAZ�BAL": "OLAZABAL", "OLAZ?BAL": "OLAZABAL",
    "PER�N": "PERON", "PER?N": "PERON"
}

for col in cols_to_check:
    for corrupted, new in mapping.items():
        stops[col] = stops[col].str.replace(corrupted, new)

In [158]:
# Let's check that everything it's ok:
for col in cols_to_check:
    n_repl_char = stops[col].str.contains(replacement_char, na=False).sum()
    n_ques_char = stops[col].str.contains("?", na=False, regex=False).sum()
    print(f"{col}: {n_repl_char} rows contain '{replacement_char}'")
    print(f"{col}: {n_ques_char} rows contain '?'")

calle: 0 rows contain '�'
calle: 0 rows contain '?'
direccion: 0 rows contain '�'
direccion: 0 rows contain '?'
barrio: 0 rows contain '�'
barrio: 0 rows contain '?'

## Descriptive analysis

In [159]:
stops.head()

,fid,calle,alt_plano,direccion,coord_x,coord_y,comuna,barrio,l1,l1_sen,...,l2_sen,l3,l3_sen,l4,l4_sen,l5,l5_sen,l6,l6_sen,n_lines
0,1,DEFENSA,1524,1524 DEFENSA,-58.370995,-34.625659,1,SAN TELMO,22,V,...,I,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,2
1,2,DEFENSA,1528,1528 DEFENSA,-58.370999,-34.625711,1,SAN TELMO,29,I,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,1
2,3,BARTOLOME MITRE,906,"906 MITRE, BARTOLOME",-58.379659,-34.607216,1,SAN NICOLAS,105,V,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,1
3,4,REGIMIENTO DE PATRICIOS AV.,51,51 REGIMIENTO DE PATRICIOS AV.,-58.370664,-34.630226,4,BARRACAS,93,I,...,V,74,I,<NA>,NaN,<NA>,NaN,<NA>,NaN,3
4,5,REGIMIENTO DE PATRICIOS AV.,389,389 REGIMIENTO DE PATRICIOS AV.,-58.370360,-34.633410,4,BARRACAS,10,I,...,I,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,2

### Dataset dimensions

In [160]:
stops.shape

(6962, 21)

### General information about the dataset

In [161]:
stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6962 entries, 0 to 6961
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fid        6962 non-null   int64
 1   calle      6962 non-null   object
 2   alt_plano  6910 non-null   object
 3   direccion  6959 non-null   object
 4   coord_x    6962 non-null   float64
 5   coord_y    6962 non-null   float64
 6   comuna     6962 non-null   int64
 7   barrio     6961 non-null   object
 8   l1         6959 non-null   Int64
 9   l1_sen     6957 non-null   object
 10  l2         3813 non-null   Int64
 11  l2_sen     3806 non-null   object
 12  l3         586 non-null    Int64
 13  l3_sen     586 non-null    object
 14  l4         98 non-null     Int64
 15  l4_sen     94 non-null     object
 16  l5         19 non-null     Int64
 17  l5_sen     19 non-null     object
 18  l6         8 non-null      Int64
 19  l6_sen     8 non-null      object
 20  n_lines    6962 non-null   int64
dtypes: Int64(6), float64(2), int64(3), object(10)
memory usage: 1.2+ MB

¿How many neighborhoods (barrios) there are in the CSV?

In [162]:
stops.groupby('barrio').count()

,fid,calle,alt_plano,direccion,coord_x,coord_y,comuna,l1,l1_sen,l2,l2_sen,l3,l3_sen,l4,l4_sen,l5,l5_sen,l6,l6_sen,n_lines
barrio,,,,,,,,,,,,,,,,,,,,
AGRONOMIA,40,40,40,40,40,40,40,40,40,22,22,7,7,5,5,1,1,0,0,40
ALMAGRO,210,210,210,210,210,210,210,210,210,120,120,3,3,0,0,0,0,0,0,210
BALVANERA,328,328,328,328,328,328,328,328,328,162,162,12,12,0,0,0,0,0,0,328
BARRACAS,265,265,264,265,265,265,265,265,265,184,184,32,32,0,0,0,0,0,0,265
BARRANCAS,4,4,4,4,4,4,4,4,4,0,0,0,0,0,0,0,0,0,0,4
BELGRANO,219,219,203,218,219,219,219,217,217,121,121,35,35,6,6,4,4,4,4,219
BOEDO,112,112,112,112,112,112,112,112,112,71,71,3,3,0,0,0,0,0,0,112
CABALLITO,286,286,286,286,286,286,286,286,286,176,176,9,9,0,0,0,0,0,0,286
CHACARITA,156,156,156,156,156,156,156,156,156,97,97,18,18,0,0,0,0,0,0,156
COGHLAN,41,41,41,41,41,41,41,41,41,19,19,2,2,0,0,0,0,0,0,41
COLEGIALES,77,77,77,77,77,77,77,77,77,47,47,9,9,0,0,0,0,0,0,77
CONSTITUCION,221,221,220,221,221,221,221,221,221,117,117,6,6,0,0,0,0,0,0,221
FLORES,280,280,280,280,280,280,280,280,280,154,154,26,26,8,8,0,0,0,0,280
FLORESTA,88,88,88,88,88,88,88,88,88,44,44,8,8,3,3,0,0,0,0,88
LA BOCA,118,118,118,118,118,118,118,118,118,82,82,19,19,2,2,2,2,0,0,118
LINIERS,137,137,137,137,137,137,137,136,136,70,70,14,14,4,4,0,0,0,0,137
MATADEROS,209,209,209,209,209,209,209,209,209,87,87,6,6,0,0,0,0,0,0,209
MONSERRAT,180,180,180,180,180,180,180,180,180,108,108,14,14,3,3,0,0,0,0,180
MONTE CASTRO,64,64,64,64,64,64,64,64,64,33,33,4,4,0,0,0,0,0,0,64
NUEVA POMPEYA,202,202,202,202,202,202,202,202,202,123,123,21,21,2,2,0,0,0,0,202
NUÑEZ,74,74,74,74,74,74,74,74,74,46,46,17,17,9,9,0,0,0,0,74
PALERMO,488,488,483,488,488,488,488,488,487,294,294,52,52,6,6,0,0,0,0,488
PARQUE AVELLANEDA,143,143,143,143,143,143,143,143,143,83,83,18,18,2,2,0,0,0,0,143
PARQUE CHACABUCO,120,120,120,120,120,120,120,120,120,68,68,11,11,0,0,0,0,0,0,120
PARQUE CHAS,40,40,40,40,40,40,40,40,40,23,23,4,4,0,0,0,0,0,0,40
PARQUE PATRICIOS,167,167,167,167,167,167,167,167,167,111,111,14,14,0,0,0,0,0,0,167
PATERNAL,49,49,49,49,49,49,49,49,49,25,25,5,5,3,3,1,1,1,1,49
PUERTO MADERO,22,22,22,22,22,22,22,22,22,4,4,0,0,0,0,0,0,0,0,22
RECOLETA,300,300,300,300,300,300,300,300,300,154,154,18,18,0,0,0,0,0,0,300
RETIRO,258,258,231,258,258,258,258,258,258,117,117,15,15,1,1,0,0,0,0,258
SAAVEDRA,179,179,179,178,179,179,179,179,179,84,83,10,10,1,1,0,0,0,0,179
SAN CRISTOBAL,103,103,103,103,103,103,103,103,103,53,53,0,0,0,0,0,0,0,0,103
SAN NICOLAS,185,185,185,185,185,185,185,185,185,94,94,14,14,4,4,0,0,0,0,185
SAN TELMO,66,66,66,65,66,66,66,66,66,43,43,16,16,1,1,0,0,0,0,66
VELEZ SARFIELD,87,87,87,87,87,87,87,87,87,42,42,6,6,4,4,1,1,0,0,87
VERSALLES,34,34,34,34,34,34,34,34,34,12,12,4,4,3,3,0,0,0,0,34
VILLA CRESPO,169,169,169,169,169,169,169,169,169,97,97,9,9,0,0,0,0,0,0,169
VILLA DEL PARQUE,101,101,101,101,101,101,101,101,101,43,43,6,6,5,5,1,1,0,0,101
VILLA DEVOTO,169,169,169,169,169,169,169,169,169,88,86,17,17,9,5,3,3,0,0,169
VILLA GRAL MITRE,59,59,59,59,59,59,59,59,58,23,23,7,7,1,1,1,1,1,1,59
VILLA LUGANO,293,293,292,293,293,293,293,293,293,171,171,35,35,6,6,1,1,0,0,293
VILLA LURO,68,68,68,68,68,68,68,68,68,39,39,15,15,3,3,0,0,0,0,68
VILLA ORTUZA,76,76,76,76,76,76,76,76,76,41,41,3,3,0,0,0,0,0,0,76
VILLA PUEYRREDON,108,108,108,108,108,108,108,108,108,37,33,9,9,0,0,0,0,0,0,108
VILLA REAL,44,44,44,44,44,44,44,44,44,26,26,1,1,0,0,0,0,0,0,44
VILLA RIACHUELO,47,47,46,47,47,47,47,47,47,30,30,4,4,3,3,2,2,2,2,47
VILLA SANTA RITA,61,61,61,61,61,61,61,61,61,35,35,5,5,0,0,0,0,0,0,61
VILLA SOLDATI,61,61,61,61,61,61,61,61,61,30,30,16,16,4,4,2,2,0,0,61
VILLA URQUIZA,153,153,153,153,153,153,153,153,153,62,62,7,7,0,0,0,0,0,0,153